@model ArtHouse.ViewModels.Products.ProductCreateViewModel



<div asp-validation-summary="ModelOnly"
     class="text-danger mb-3">
</div>

<div class="mb-3">

    <label asp-for="Title" class="form-label"></label>

    <input asp-for="Title" class="form-control" />

    <span asp-validation-for="Title"
          class="text-danger"></span>

</div>

<div class="mb-3">

    <label asp-for="Description" class="form-label"></label>

    <textarea asp-for="Description"
              class="form-control"
              rows="4"></textarea>

    <span asp-validation-for="Description"
          class="text-danger"></span>

</div>

<div class="mb-3">
    <label asp-for="Price" class="form-label"></label>
    <input asp-for="Price" class="form-control" />
    <span asp-validation-for="Price" class="text-danger"></span>
</div>

<div class="mb-3">
    <label asp-for="Stock" class="form-label"></label>
    <input asp-for="Stock" class="form-control" />
    <span asp-validation-for="Stock" class="text-danger"></span>
</div>

<div class="mb-3">

    <input asp-for="Image" type="file" class="form-control" accept=".jpg,.jpeg,.png" />

</div>

@* // This piece of code shows a preview of the choosen photo from user!!! *@
<div class="mb-3 text-center">

    <img id="previewImage"
         src="https://placehold.co/300x200?text=No+Image"
         class="img-thumbnail"
         style="max-height:250px;" />

</div>

<div class="mb-3">

    <label asp-for="CategoryId" class="form-label"></label>

    <select asp-for="CategoryId"
            asp-items="Model.Categories"
            class="form-control">

        <option value="">-- Select Category --</option>

    </select>

    <span asp-validation-for="CategoryId" class="text-danger"></span>

</div>


